<a href="https://colab.research.google.com/github/Sino-taku/PyTorch_Reference-/blob/main/now.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
#マウントする
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
import os

In [45]:
#カレントディレクトリの確認（絶対パス）

os.getcwd()

'/content'

In [49]:
#データの取得と内容の確認（head)
import pandas as pd
df_AFM=pd.read_csv("/content/drive/MyDrive/AFM/AFM1024.csv")

#データフレームにする             
"""
#インデックスの作成・変更
index_line=[]
for i in range(1024):
  ind="line_"+str(i)
  index_line.append(ind)
"""
df_AFM=pd.DataFrame(data=df_AFM)
df_AFM.head()

,1,2,3,4,5,6,7,8,9,10,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
0,29.8,29.8,29.7,29.6,29.6,29.5,29.4,29.4,29.4,29.4,...,33.1,33.1,33.1,33.2,33.2,33.2,33.2,33.2,33.2,33.2
1,30.3,30.3,30.3,30.3,30.3,30.3,30.3,30.2,30.2,30.2,...,33.9,33.9,33.9,33.9,34.0,34.0,34.1,34.1,34.1,34.2
2,30.7,30.8,30.9,30.9,30.9,30.9,30.8,30.8,30.8,30.7,...,34.3,34.3,34.3,34.4,34.3,34.4,34.4,34.5,34.5,34.6
3,30.8,30.9,30.9,30.9,31.0,31.0,30.9,30.9,30.9,30.9,...,33.8,33.8,33.9,33.9,33.9,33.9,33.9,33.9,33.9,33.9
4,29.7,29.8,29.8,29.9,29.8,29.9,29.8,29.8,29.8,29.8,...,33.9,33.9,34.0,34.0,34.1,34.1,34.1,34.2,34.3,34.3

In [75]:

#リストの多次元構造の作成をして、そのうえでテストデータ（data)、教師データ（target)を作成

#テストデータ
data = [] 
for i in range(1023):
    data.append([]) 
    for j in range(300): 
        data[i].append(df_AFM.loc[j,"1":"300"]) #テストデータの範囲を1～300でリストの形にする。（出力が大きすぎて拒否られるので出力しないでください）

#教師データ
target=[]
for i in range(1023):
    target.append([]) 
    for j in range(300): 
        target[i].append(df_AFM.loc[j,"301":"601"])

'\n#区切り\u3000punctuate\u3000=pun\npun=500\nfor i in renge(1024):\n  test_data_i=[]\n  ans_data_i=[]\n  test_data_i[:pun]\n'